.amenities-container {
  text-align: center;
  position: absolute;
  top: 180px;
  margin: 10px;
}

.amenities-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  justify-items: center;
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto; /* Allow scrolling manually */
  scrollbar-width: thin; /* Optional: makes the scrollbar thinner */
}

.amenity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amenity-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.amenity-text {
  margin-top: 0.75rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

/* New Section CSS */
.pricing-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.pricing-rectangle {
  width: 400px;
  height: 70px;
  background-color: #f0f0f000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.whatsapp-button {
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-left: 10px;
  padding-top: 6px;
  margin-left: 80px;
}

.whatsapp-icon {
  margin-right: 10px;
}

.pricing-button {
  background-color: #ffffff00;
  color: #1f5e3e00;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  width: 90px;
}
